<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 p-4">
  <div class="text-center">
    <h1 class="text-9xl font-bold text-blue-600 dark:text-blue-400">404</h1>
    <p class="text-2xl md:text-3xl font-light mt-4">
      Oops! Página não encontrada.
    </p>
    <p class="mt-4 mb-8 text-gray-600 dark:text-gray-400">
      A página que você está procurando pode ter sido removida, seu nome alterado ou está temporariamente indisponível.
    </p>
    <button (click)="goBack()" href="#" class="px-6 py-3 text-lg font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 transition duration-150 ease-in-out">
      Voltar para a página anterior!
    </button>
  </div>
</div>