<div class="min-h-screen flex items-center justify-center bg-gray-100 dark:bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8 bg-white dark:bg-gray-800 p-10 rounded-xl shadow-2xl">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-100">
        Cadastrar Novo Motorista
      </h2>
    </div>
    <form class="mt-8 space-y-6" (ngSubmit)="cadastrarMotorista()"> 
      <!-- Dados Pessoais -->
      <div>
        <label for="nomeCompleto" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Nome Completo</label>
        <input id="nomeCompleto" name="nomeCompleto" type="text" autocomplete="name" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="Nome Completo">
      </div>
      <div>
        <label for="cpf" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">CPF</label>
        <input id="cpf" name="cpf" type="text" autocomplete="off" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="CPF (somente números)" pattern="\d{11}" maxlength="11">
      </div>
      <div>
        <label for="dataNascimento" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Data de Nascimento</label>
        <input id="dataNascimento" name="dataNascimento" type="date" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
      </div>
      <div>
        <label for="nomeMae" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Nome da Mãe</label>
        <input id="nomeMae" name="nomeMae" type="text" autocomplete="off" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="Nome da Mãe">
      </div>
      <div>
        <label for="telefone" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Telefone de Contato</label>
        <input id="telefone" name="telefone" type="tel" autocomplete="tel" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
               placeholder="Telefone (Ex: 99 99999-9999)">
      </div>

     <div class="mt-8 space-y-6"> <!-- Adiciona um espaçamento entre as seções de formulário -->
        <h3 class="text-lg font-medium text-gray-900 dark:text-gray-100 mb-4">Dados da CNH</h3>
        <div>
          <label for="numeroCnh" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Número da CNH</label>
          <input id="numeroCnh" name="numeroCnh" type="text" autocomplete="off" required
                 class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Número da CNH (somente números)" pattern="\d*" maxlength="11">
        </div>
        <div>
          <label for="validadeCnh" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Validade da CNH</label>
          <input id="validadeCnh" name="validadeCnh" type="date" required
               class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        
        </div>

        <fieldset class="pt-3 pb-1 px-3 border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700">
          <legend class="sr-only">Tipo de Habilitação</legend>
          <div class="text-sm text-gray-700 dark:text-gray-300 mb-2">Categoria da Habilitação:</div>
          <div class="space-y-2 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
            <div class="flex items-center">
              <input id="tipoA" name="tipoA" type="checkbox" class="h-4 w-4 text-indigo-600 border-gray-300 dark:border-gray-500 dark:bg-gray-600 rounded focus:ring-indigo-500">
              <label for="tipoA" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">A</label>
            </div>
            <div class="flex items-center">
              <input id="tipoB" name="tipoB" type="checkbox" class="h-4 w-4 text-indigo-600 border-gray-300 dark:border-gray-500 dark:bg-gray-600 rounded focus:ring-indigo-500">
              <label for="tipoB" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">B</label>
            </div>
            <div class="flex items-center">
              <input id="tipoC" name="tipoC" type="checkbox" class="h-4 w-4 text-indigo-600 border-gray-300 dark:border-gray-500 dark:bg-gray-600 rounded focus:ring-indigo-500">
              <label for="tipoC" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">C</label>
            </div>
            <div class="flex items-center">
              <input id="tipoD" name="tipoD" type="checkbox" class="h-4 w-4 text-indigo-600 border-gray-300 dark:border-gray-500 dark:bg-gray-600 rounded focus:ring-indigo-500">
              <label for="tipoD" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">D</label>
            </div>
            <div class="flex items-center">
              <input id="tipoE" name="tipoE" type="checkbox" class="h-4 w-4 text-indigo-600 border-gray-300 dark:border-gray-500 dark:bg-gray-600 rounded focus:ring-indigo-500">
              <label for="tipoE" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">E</label>
            </div>
          </div>
        </fieldset>

        <div>
           <label for="ear" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Exerce Atividade Remunerada (EAR)?</label>
          <select id="ear" name="ear" required
                  class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="" disabled selected class="text-gray-500 dark:text-gray-400">Selecione uma opção</option>
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
          </select>
        </div>
        <div>
          <label for="placaVeiculo" class="sr-only">Placa do Veículo Vinculado</label>
          <label for="placaVeiculo" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Placa do Veículo Vinculado</label>
          <input id="placaVeiculo" name="placaVeiculo" type="text" autocomplete="off" required
                 class="appearance-none block w-full px-3 py-3 border border-gray-300 dark:border-gray-600 placeholder-gray-500 dark:placeholder-gray-400 text-gray-900 dark:text-gray-100 bg-white dark:bg-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                 placeholder="Placa do Veículo (Ex: ABC1D23)"
                 maxlength="7"
                 pattern="[A-Za-z]{3}[0-9][A-Za-z0-9][0-9]{2}|[A-Za-z]{3}[0-9]{4}">
        </div>
      </div>

      <div>
        <button type="submit"
                class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
          Cadastrar Motorista
        </button>
      </div>
    </form>
  </div>
</div>